name: Main

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Setup .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: |
          8.0.x
          10.0.x
    - name: Restore dependencies
      run: dotnet restore
    - name: Build
      run: dotnet build --no-restore
    - name: Test .NET 8.0
      run: dotnet run --project TelnetNegotiationCore.UnitTests --configuration Debug --no-build --framework net8.0
    - name: Test .NET 10.0
      run: dotnet run --project TelnetNegotiationCore.UnitTests --configuration Debug --no-build --framework net10.0